body {
  margin: 0;
  font-family: 'Inter';font-size: 58px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Inter';font-size: 58px;
}

html {
  height: 100%;
  overflow: hidden;
}

:root{
  --leaflet-width: 100%;
  --leaflet-height: 100vh;
  --leaflet-offset: translate(0px);
  overflow: hidden;
  --close-button-size: 50px;
  --side-mobile-header-size: 50px;
  --sidebar-background: rgb(255, 255, 255);
  --sidebar-text: rgb(0, 0, 0);
  --sidebar-transition: 0.3s cubic-bezier(.77,.04,.18,1.03);
  --leaflet-cont-transition: 0.35s cubic-bezier(.77,.04,.18,1.03);
}

 /* width */
 ::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000;
} 

::selection {
  background: #ff3300; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ff3300; /* Gecko Browsers */
}

.sidebar{
  position: absolute;
  z-index: 1000;
  top: 100px;
  left: 0%;
  display: flex;
  flex-direction: column;
  justify-content: flex;
  box-sizing:border-box; 
  width: 50%;
  height: -webkit-calc(100% - 100px);
  height: -moz-calc(100% - 100px);
  height: calc(100% - 100px);
  border-right: 2px solid var(--sidebar-text);; 
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--sidebar-background);
  color: var(--sidebar-text);
  transition: left var(--sidebar-transition), opacity 0.1s ease-in ;
}

.sidebar-collapsed{
  position: absolute;
  top: 100px;
  left: -50%;
  display: flex;
  flex-direction: column;
  justify-content: flex;
  box-sizing:border-box; 
  width: 50%;
  height: -webkit-calc(100% - 100px);
  height: -moz-calc(100% - 100px);
  height: calc(100% - 100px);;
  border-right: 2px solid var(--sidebar-text);; 
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--sidebar-background);
  color: var(--sidebar-text);
  opacity: 0;
  transition: left var(--sidebar-transition), opacity 0.5s  ease-in ;

}

.select-icon{
  height: 15px;
  width: 15px;
}
.img-style{
  width: 100%;
}

.sidebar-header{
  text-align: left;
  position: fixed;
  text-overflow: ellipsis;
  word-wrap: break-word;
  width: 50%;
  background-color: white;
  box-sizing:border-box; 
  border-right: 2px solid var(--sidebar-text);
  transition: var(--sidebar-transition);
}
.sidebar-heading{
  height: 50px;
  width: 100%;
  display: flex;
  font-family: 'Inter';font-size: 24px;
  justify-content: space-between;
  align-items: center;
  box-sizing:border-box; 
  border-bottom: 2px solid var(--sidebar-text);
  padding-left: 2px;
  transition: var(--sidebar-transition);
}
.close-button{
  width: var(--close-button-size);
  height: var(--close-button-size);
  box-sizing:border-box; 
  border-left: 2px solid var(--sidebar-text);
}
.close-button:hover{
  width: var(--close-button-size);
  height: var(--close-button-size);
  color: aliceblue;
  background: black;
  box-sizing:border-box; 
  border-left: 2px solid var(--sidebar-text);
}

.sidebar-header-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content-container{
  display: flex;
  flex-direction: column;
}

.tags-container{
  display: flex;
  flex-direction: row;
}

.tags{
  display: flex;
  justify-content: center;
}

.sidebar-space{
  display: block;
  position: relative;
  height: 100px;
}

.basic-text{
  padding-left: 2px;
  font-family: 'Inter';font-size: 20px;
}

.basic-heading{
  font-family: 'Inter';font-size: 58px;
}

.big-heading{
  font-size: 60px;
  font-weight: bold;
  font-family: 'Inter';font-size: 58px;
  width: 80%;
}

.loading-screen{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  -webkit-animation: flickerAnimation 1s infinite;
  -moz-animation: flickerAnimation 1s infinite;
  -o-animation: flickerAnimation 1s infinite;
  animation: flickerAnimation 1s infinite;
  font-family: 'Inter';font-size: 24px;
}
.loading-icon{
  height: 40px;
  width: 40px;
}
.load-text{
  font-family: 'Inter';font-size: 58px;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

.header{
  position: absolute;
  z-index: 1000;
  height: 100px;
  width: 100%;
  display: flex;
  font-family: 'Inter';font-size: 58px;
  justify-content: space-between;
  align-items: center;
  box-sizing:border-box; 
  border-bottom: 2px solid var(--sidebar-text);
  padding-left: 2px;
  background-color: #ffffff;
}

.header-icon{
  height: 100px;
  width: 100px;
}

.header-text-fullsize{
  display: inline-block;
}

.header-text-small{
  width: 100%;
  display: none;
  font: 'Inter'; font-size: 30px;
}


.leaflet-container {
  transform: scale(1.35,1.35);
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1;
  
}

.expand-button{
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 900;
  width: 50px;
  height: 50px;
  background: rgb(0, 0, 0);
  color: white;
}

@media only screen and (max-width: 1000px) {
.sidebar{
  position: absolute;
  top: 100px;
  left: 0%;
  display: flex;
  flex-direction: column;
  justify-content: flex;
  box-sizing:border-box; 
  width: 100%;
  height: -webkit-calc(100% - 100px);
  height: -moz-calc(100% - 100px);
  height: calc(100% - 100px);
  border-right: 2px solid var(--sidebar-text);; 
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--sidebar-background);
  color: var(--sidebar-text);
  transition: var(--sidebar-transition);
}

.sidebar-collapsed{
  position: absolute;
  top: 100vh;
  left: 0%;
  display: flex;
  flex-direction: column;
  justify-content: flex;
  box-sizing:border-box; 
  width: 100%;
  height: -webkit-calc(100% - 100px);
  height: -moz-calc(100% - 100px);
  height: calc(100% - 100px);;
  border-right: 2px solid var(--sidebar-text);; 
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--sidebar-background);
  color: var(--sidebar-text);
  transition: var(--sidebar-transition);
}

.basic-text{
  padding-left: 1%;
  font-family: 'Inter';font-size: 18px;
}

  .header{
  position: fixed;
  z-index: 1000;
  height: 100px;
  width: 100%;
  display: flex;
  font-family: 'Inter';font-size: 29px;
  justify-content: space-between;
  align-items: center;
  box-sizing:border-box; 
  border-bottom: 2px solid var(--sidebar-text);
  padding-left: 2px;
  background-color: #ffffff;
  }
  .header-text-fullsize{
    display: none;
  }
  .header-text-small{
    display: inline-block;
  }

  .sidebar-heading{
    height: var(--side-mobile-header-size);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing:border-box; 
    font-size: 20px;
    border-bottom: 2px solid var(--sidebar-text);
    padding-left: 2px;
    transition: var(--sidebar-transition);
  }

  .sidebar-header{
    text-align: left;
    position:fixed;
    text-overflow: ellipsis;
    word-wrap: break-word;
    width: 100%;
    background-color: white;
    box-sizing:border-box; 
    border-right: 2px solid var(--sidebar-text);
    transition: var(--sidebar-transition);
  }

  .close-button{
    width: var(--side-mobile-header-size);
    height: var(--side-mobile-header-size);
    box-sizing:border-box; 
    border-left: 2px solid var(--sidebar-text);
  }
  .close-button:hover{
    width: var(--side-mobile-header-size);
    height: var(--side-mobile-header-size);
    color: aliceblue;
    background: black;
    box-sizing:border-box; 
    border-left: 2px solid var(--sidebar-text);
  }

}