body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --leaflet-width: 100%;
  --leaflet-offset: 0%;
  overflow: hidden;
  --close-button-size: 60px;
  --sidebar-background: rgb(255, 255, 255);
  --sidebar-text: rgb(0, 0, 0);
  --sidebar-transition: 0.3s cubic-bezier(.77,.04,.18,1.03);
  --leaflet-cont-transition: 0.35s cubic-bezier(.77,.04,.18,1.03);
}

 /* width */
 ::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
} 


.sidebar{
  position: relative;
  left: 0%;
  display: flex;
  flex-direction: column;
  justify-content: flex;
  box-sizing:border-box; 
  width: 50%;
  height: 100vh;
  border: 1px solid var(--sidebar-text);; 
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--sidebar-background);
  color: var(--sidebar-text);
  transition: var(--sidebar-transition);
}

@media only screen and (max-width: 1000px) {
  .sidebar{
    position: relative;
    left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: flex;
    box-sizing:border-box; 
    width: 100%;
    height: 100vh;
    border: 1px solid var(--sidebar-text); 
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--sidebar-background);
    color: var(--sidebar-text);
    transition: var(--sidebar-transition);
  }
}

.select-icon{
  height: 15px;
  width: 15px;
}


.sidebar-collapsed{
    position: relative;
    left: -50%;
    display: flex;
    flex-direction: column;
    justify-content: flex;
    box-sizing:border-box; 
    width: 50%;
    height: 100vh;
    border: 1px solid var(--sidebar-text); 
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--sidebar-background);
    color: var(--sidebar-text);
    transition: var(--sidebar-transition);
}

.img-style{
  width: 98%;
  padding-left: 1%;
}

.close-button{
  width: var(--close-button-size);
  height: var(--close-button-size);
}
.close-button:hover{
  width: var(--close-button-size);
  height: var(--close-button-size);
  color: aliceblue;
  background: black;
}

.leaflet-container {
  width: var(--leaflet-width);
  height: 100vh;
  position: absolute;
  left: var(--leaflet-offset);
  z-index: 1;
  transition: var(--leaflet-cont-transition);
}

.sidebar-header{
  text-align: left;
  padding-left: 1%;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.sidebar-header-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content-container{
  display: flex;
  flex-direction: column;
}

.tags-container{
  display: flex;
  flex-direction: row;
}

.tags{
  display: flex;
  justify-content: center;
}

.basic-text{
  padding-left: 1%;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.basic-heading{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.big-heading{
  font-size: 60px;
  font-weight: bold;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  width: 80%;
}

.loading-screen{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  gap: 10px;
  -webkit-animation: flickerAnimation 1s infinite;
  -moz-animation: flickerAnimation 1s infinite;
  -o-animation: flickerAnimation 1s infinite;
  animation: flickerAnimation 1s infinite;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
.loading-icon{
  height: 40px;
  width: 40px;
}
.load-text{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

